body {
    background-color: #f6f9fc;
    font-family: sans-serif;
    color: #6b7c93;
    font-size: .875em;
    line-height: 1.4em;
    padding: 10px;
}
h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 1.5em;
    color: #6b7c93;
    font-family: sans-serif;
    text-transform: uppercase;
}
a { 
    color: #6b7c93;
    text-decoration: underline #91a1b7;
}

/* ----- Estilo da CAIXA DE FUNDO ----- */
.box {
    max-width: 700px;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(50, 50, 90, .1);
    overflow: hidden;
    padding: 20px 40px;
    margin: 0 auto;
}

/* ----- Estilo da CIDADE (result) ----- */
.cidade { 
    display: block; 
    float: right;
    font-weight: bold;
}
.cidade label {
    font-weight: normal;
    text-transform: none;
}

/* ----- Estilo da DESCRIÇÃO EXPANSIVA ----- */
.desc-input { display: none; }
.desc-title { 
    display: inline-block; 
    cursor: pointer; 
    font-weight: bold;
    font-size: 1.2em;
}
.desc-title::before {
    content: '';
    display: inline-block;
    height: 12px;
    width: 24px;
    margin-right: 20px;
    background: #6b7c93;
}
.desc-title::after {
    content:'+';
    float: right;
    margin-left: 20px;
    transition: transform .3s ease;
}
.desc-input:checked + 
.desc-box .desc-title::after {
    transform: rotate(45deg) scale(1.08);
}
.desc-box .desc-content { 
    overflow: hidden;
    max-height: 0px;
    background: white;
    transition: all 500ms;
    border-radius: 20px;
}
.desc-input:checked + 
.desc-box .desc-content { 
    max-height: 500px;
}

.red, .ok {
    display: inline-block;
    padding-left: 50px;
}
.red { color: red; }


/* ----- Estilo do FORMULARIO ----- */
*:focus { outline: none; }
:-moz-placeholder { color: #d3d3d3; }
::-webkit-input-placeholder { color: #d3d3d3; }

li label, li input, li select { 
    display: inline-block; 
    width: 80px; 
    height:20px;
    margin: 0;
    padding: 0 5px;
}
li select {
    width: 190px; 
    height:30px;
}
section { 
  display: flex;
  justify-content: center;
}
form {
    display: inline-block; 
}
ul {
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
}
li:first-child {
    border-top:1px solid #eee;
}
li{
    padding:12px; 
    border-bottom:1px solid #eee;
}

/* ----- Estilo do CARIMBO ----- */
.align {
  display: flex;
  justify-content: center;
}
.aprovado, .reprovado {
    display: inline-block;
    margin: 0;
    margin-bottom: 15px;
    padding: 8px;
    font-size: 1.4em;
    font-weight: bold;
    transform: rotate(3deg);
}
.reprovado {
    color: red;
    border: 0.2em solid red;
}
.aprovado {
    color: #529f17;
    border: 0.2em solid #529f17;
}

/* ----- Estilo do BOTÃO ----- */
.button {
    display: block;
    margin: 20px auto;
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
.button:hover {
    opacity:.85;
    cursor: pointer; 
}
.button:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset; 
    -webkit-box-shadow:0 0 10px 5px rgba(53, 107, 11, 0.3) inset ;
    -moz-box-shadow: 0 0 10px 5px rgba(53, 107, 11, 0.3) inset;
    -ms-box-shadow: 0 0 10px 5px rgba(53, 107, 11, 0.3) inset;
    -o-box-shadow: 0 0 10px 5px rgba(53, 107, 11, 0.3) inset;
     
}